footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-box {
  background: linear-gradient(0.9turn, #17023f, #311c59);
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  padding: 20px 0;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 1 / 4 / 2 / 5;
}

#newsletter-box {
  background: #6dbf9d;
}
