hr {
  width: 60px;
  background-color: #7c4dff;
  height: 2px;
}
.copyright {
  background-color: #17023f;
}

footer .d-flex {
  align-items: center;
}
.main-footer-box {
  background: url("../../../public/assets/images/FooterBackground.webp");
  background-size: cover;
  padding-top: 15px;
}
.newsletter {
  background-image: url(../../../public/assets/images/newsletter.jpg);
  background-size: cover;
  margin-top: 50px;
}
.newsletter input {
  background: transparent;
  border: 3px solid #faecff;
  border-radius: 30px;
  height: 40px;
  margin: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #faecff;
}
.va-logo {
  width: 100%;
}
