.page-sidebar.page-sidebar-bcg {
  background: linear-gradient(0.25turn, #231048, #2e1c50);
}

.main-content-admin {
  min-height: 400px;
  backdrop-filter: blur(4px);
  background: linear-gradient(
    123.55deg,
    rgba(109, 191, 157, 0.48) 0%,
    rgba(109, 191, 157, 0.14) 100%
  );
  border: none;
  border-radius: 30px;
  color: white;
}

.list-group.users-list {
  min-height: 330px;
  height: calc(90vh - 250px);
}

.list-group-item.user-item {
  color: black;
  margin-top: 10px;
  background: transparent;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-user {
  cursor: pointer;
  color: #ec9898;
  border: none;
  background-color: transparent;
  padding: 0;
}

.unblock-user {
  cursor: pointer;
  color: var(--bs-emphasis-color-rgb);
  border: none;
  background-color: transparent;
  padding: 0;
}

@media only screen and (max-width: 992px) {
  .page-wrapper.small-dev-bcg {
    background-color: transparent;
  }
}
