.bg-brand-gradient, .nav-footer, .page-sidebar, .page-logo {
  background-image: none;
  background-color: transparent;
}
.main-content-admin {
  height: 500px;
  background: linear-gradient(
    123.55deg,
    rgba(109, 191, 157, 0.48) 0%,
    rgba(109, 191, 157, 0.14) 100%
  );
  border-radius: 30px;
  color: white;
}
.list-group.users-list {
    height: 200px; 
 }
.list-group-item.user-item {
    color: black;
    margin-top: 10px;
    
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .block-user {
    cursor: pointer;
    color: #ec9898;
  }


  