 {
  /* The following line can be included in your src/index.js or App.js file */
}
@import "bootstrap/dist/css/bootstrap.min.css";
:root {
  /* 
    One-stop magic hue shift
    We're using oklch(), so these might not be the hue values you are familiar with 
  See: https://oklch.com/
  */
  --hue: 161.84;
  --hue-adjust: 135;

  --hue-2: calc(var(--hue) + var(--hue-adjust));

  --page-background: oklch(10% 0.0666 var(--hue));
}
body {
  background: url("../public/assets/images/background-image.png"),
    linear-gradient(0.25turn, #231048, #2e1c50);
  background-repeat: repeat-y;
  background-size: cover;
  color: #faecff;
}
a {
  text-decoration: none;
  color: #faecff;
}
a:hover {
  color: #3dbb87;
}

button {
  background-color: #faecff00;
  color: #3dbb87;
  cursor: pointer;
  border: 2px solid #3dbb87;
  border-radius: 30px;
  letter-spacing: 0.1rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 10px 100px 10px 20px;
  transition: color 0.2s ease;

  &::before {
    color: #3dbb87;
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    transition: transform 0.2s ease;
    width: 200%;
    z-index: -1;
  }

  &::after {
    content: "";
    -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMiAwYzYuNjIzIDAgMTIgNS4zNzcgMTIgMTJzLTUuMzc3IDEyLTEyIDEyLTEyLTUuMzc3LTEyLTEyIDUuMzc3LTEyIDEyLTEyem0wIDFjNi4wNzEgMCAxMSA0LjkyOSAxMSAxMXMtNC45MjkgMTEtMTEgMTEtMTEtNC45MjktMTEtMTEgNC45MjktMTEgMTEtMTF6bS0zIDUuNzUzbDYuNDQgNS4yNDctNi40NCA1LjI2My42NzguNzM3IDcuMzIyLTYtNy4zMzUtNi0uNjY1Ljc1M3oiLz48L3N2Zz4=")
      30% 30%;
    mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMiAwYzYuNjIzIDAgMTIgNS4zNzcgMTIgMTJzLTUuMzc3IDEyLTEyIDEyLTEyLTUuMzc3LTEyLTEyIDUuMzc3LTEyIDEyLTEyem0wIDFjNi4wNzEgMCAxMSA0LjkyOSAxMSAxMXMtNC45MjkgMTEtMTEgMTEtMTEtNC45MjktMTEtMTEgNC45MjktMTEgMTEtMTF6bS0zIDUuNzUzbDYuNDQgNS4yNDctNi40NCA1LjI2My42NzguNzM3IDcuMzIyLTYtNy4zMzUtNi0uNjY1Ljc1M3oiLz48L3N2Zz4=")
      no-repeat 30% 30%;
    -webkit-mask-size: 60%;
    mask-size: 60%;
    background-color: #4fd89f;
    height: 60px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 60px;
    z-index: 1;
  }

  &::after {
    right: 0;
    transition: transform 0.2s ease;
  }

  &:hover {
    color: #faecff;
    border: 2px solid #faecff;
    border-radius: 30px;

    &::before {
      transform: translateX(50%);
    }

    &::after {
      background-color: #faecff;
      transform: translate(10px, -50%);
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4 {
  color: #4fd89f;
}
input {
  width: 250px;
  height: 40px;
  background: transparent;
  border: 3px solid #75ebb9;
  border-radius: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #faecff;

  &:focus {
    outline: none;
  }
}
.white-btn {
  color: #faecff;
  border: 2px solid #faecff;

  &::after {
    background-color: #faecff;
  }
}
